<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="<%= csrfToken %>" name="_csrf">
    <link href="css/auth.css" rel="stylesheet">
    <title><%= title %></title>
</head>
<nav>
    <div class="logo">
        <img src="../images/logo-signup.png">
        <p>Sport Dash</p>
    </div>
    <div class="home">
        <a href="/">Home Page</a>
    </div>
</nav>
<body>
<main>
    <div class="header">
        <p>Login</p>
    </div>
    <p>Welcome, old friend</p>
    <form action="/login" class="signup-form" method="post">
        <input name="_csrf" type="hidden" value="<%= csrfToken %>">
        <div class="login-input">
            <label for="email">Email</label>
            <input id="email" name="email" placeholder="Email" required type="text">
        </div>
        <div class="login-input">
            <label for="password">Password</label>
            <input minlength="8" maxlength="30" id="password" name="password" placeholder="Password" required
                   type="password">
        </div>
        <%- include("notification.ejs") %>
        <div class="login-input">
            <button class="submit" type="submit">Sign In</button>
        </div>
    </form>
    <div class="present">
        <p>Dont have an account</p>
        <p><a href="/signup">Sign Up</a></p>
    </div>
</main>
</body>
</html>
