<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="csrf-token" content="<%= csrfToken %>">
  <title>Sports play</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous" />
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
  <style>
    .gradient-custom{
      background: #fccb90;
      background: #C71585;
      background: #C71585;
    }
    #zzzz {
      margin-right: 2%;
      margin-top: 2%;
      height: 100%;
    }
    #hey{
      border-radius: 50%;
      font-size: 20px;
      background-color: #000000;
      color: red;
      font-weight: 500;
      padding: 5px;
      cursor: pointer;
    }
    #hey:hover {
      color:#BDB76B;
    }
    @media (min-width: 768px) {
      .gradient-form {
        height: 100vh !important;
      }
    }
    @media (min-width: 769px) {
      .gradient-custom{
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
      }
    }
  </style>
  <script>
    if (
      window.performance &&
      window.performance.navigation.type ==
      window.performance.navigation.TYPE_BACK_FORWARD
    ) {
      window.location.replace(
        `/`
      );
    }
    window.onpopstate = (event) => {
      if (event) {
        window.location.replace(
          `/`
        );
      }
    };
  </script>
</head>

<body style="background: #DB7093;">
  <section class="h-100 gradient-form align-items-center">
    <div>
      <div class="container py-4 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-3 text-black">
              <div class="row g-0">
                <div class="col-lg-6" style="background-color: whitesmoke">
                  <div class="card-body p-md-5 mx-md-4">
                    <div class="text-center">
                      <h4 class="mt-1 mb-5 pb-1">Sports Play</h4>
                    </div>
                    <h6 style="color: red;">
                      <% if(messages && messages.error && messages.error.length> 0) { %>
                        <% for(var i=0; i<messages.error.length; i++) { %>
                          <p class="bg-red-200 my-3 list-none rounded px-4 py-2">
                            <%= messages.error[i] %>
                          </p>
                          <% } %>
                            <% } %>
                    </h6>
                    <form action="/session" method="post">
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      <p>login to your account</p>

                      <div class="form-outline mb-4">
                        <input type="email" name="email" id="form2Example11" class="form-control"
                          placeholder="email address" style="border: 0.5px solid;" />
                        <label class="form-label" for="form2Example11">Email Address</label>
                      </div>

                      <div class="form-outline mb-4">
                        <input type="password" name="password" id="form2Example22" class="form-control"
                          style="border: 0.5px solid;" />
                        <label class="form-label" for="form2Example22">PASSWORD</label>
                      </div>

                      <div class="text-center pt-1 mb-3 pb-1">
                        <button class="btn btn-primary btn-block fa-lg gradient-custom mb-3 w-100" type="submit">
                          Log in
                        </button>
                      </div>


                      <div class="d-flex align-items-center justify-content-center pb-0">
                        <p class="mb-0 me-2">Don't have an account yet?</p>
                        <button type="button" onclick="window.location.href='/signup'" class="btn btn-outline-danger">
                          Create new
                        </button>
                      </div>

                    </form>
                  </div>
                </div>

                <div class="col-lg-6 d-flex  gradient-custom align-items-center">
                  <div class="text-white px-3  py-4 p-md-5 mx-md-4">
                    <h4 class="mb-4">
                      "A champion is someone who gets up when he can't."
                    </h4>
                  </div>
                  <div id="zzzz">
                    <i class="fa fa-close" id="hey" onclick="window.location.href='/'"></i>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
