<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!-- <link href="./css/styles.css" rel="stylesheet" /> -->
    <title>Sports Play</title>
    <!-- <link href="./css/styles.css" rel="stylesheet" /> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <style>
      body {
        background: linear-gradient(90deg, whitesmoke, gray);
      }
      section {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      #admin {
        background:#800080 ;
        background-size: cover;
        background-repeat: no-repeat;
      }
      #players {
        background:	#800080;
        background-size: cover;
        background-position: center;
      }
      #adminBtn {
        width: 15%;
        height: 10%;
        font-size: 23px;
        border: none;
        border-radius: 8px;
        background-color:  #00FFFF;
        color: white;
        font-weight: bold;
        word-spacing: 2px;
        letter-spacing: 1px;
        box-shadow: 1px 1px 10px 0px rgb(191, 185, 185);
      }
      #adminBtn:hover {
        background-color: gray !important;
        transition: 0.5s;
      }
      #userBtn {
        width: 15%;
        height: 10%;
        border: none;
        font-size: 23px;
        border-radius: 8px;
        background-color: #00FFFF;
        box-shadow: 1px 1px 10px 0px rgb(191, 185, 185);
        color: white;
        letter-spacing: 1px;
        font-weight: bold;
        word-spacing: 2px;
      }
      #userBtn:hover {
        background-color: gray !important;
        transition: 0.5s;
      }
      #sportsNav {
        display: inline-flex;
        color: white;
      }
      #sportsNav li {
        list-style: none;
        padding: 7px;
        margin-left: 18px;
        cursor: pointer;
      }
      #sportsNav li:hover {
        background-color: white;
        border-radius: 32px;
        color: black;
        font-weight: bold;
        transition: 0.7s;
      }
      #sportsNav li a {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <nav class="navbar" style="background-color: black; position: sticky">
      <div class="container-fluid">
        <a href="/" class="navbar-brand fw-bold" style="color: #B48E92"
          >Sports Play</a
        >
        <ul id="sportsNav">
          <li onclick="window.location.href='#players'">Join Sports</li>
          <li onclick="window.location.href='#admin'">Create Sports</li>
        </ul>
      </div>
    </nav>

    <section id="players">
      <p class="h2 text-white fw-bold">Participant</p>
      <br />
      <p
        class="h4 w-75 fw-bolds"
        style="
          text-align:center;
          color:#9FE2BF;
          word-spacing: 2px;
        "
      >
        Here You can join session which has been created by other players.
        Here you are only allowed to delete the sessions that you have created.
        Once a session has ended, you will not be able to join it again!
      </p>
      <br /><button
        id="userBtn"
        class="btn btn-primary"
        onclick="window.location.href='/login'"
      >
        Join Sports
      </button>
    </section>
    <section id="admin">
      <p class="h2 text-white fw-bold">Administrator</p>
      <br />
      <p
        class="h4 w-75 fw-bolds"
        style="
          text-align: center;
          color: #9FE2BF;
          word-spacing: 2px;
        "
      >
        Here, You can create sports and sessions. you have the
        chance to update and delete both sports and sessions. You also have the
        authority to delete sessions of other players and add players to any
        session. However, you cannot add players to finished sessions.
        you have the capability to view reports for each session.
      </p>
      <br /><button id="adminBtn" onclick="window.location.href='/admin_login'">
        Create Sports
      </button>
    </section>
  </body>
</html>
